#for postgres docker
POSTGRES_USER=<initial postgres user> # if the first time running postgres 15 this is the default user
POSTGRES_PASSWORD=<initial postgres password> #the default password you want
POSTGRES_DB=<orders> # this name is needed as default because of the data models
